body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: bisque;
}

.App {
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 20px;
}

header h1 {
  margin: 0;
  color: white;
}
h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
  margin-top: 50px;
}

#quote-box {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
}

#text {
  font-size: 1.5rem;
}

#author {
  margin-top: 10px;
  font-style: italic;
}

button {
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

a {
  margin-left: 10px;
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
